body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}

.div-floater {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 1em;
  right: 1em;
  width: 350px;
  border: 0.5px solid grey;
  background-color: white;
}

.tooltip {
  position: absolute;
  text-align: left;
  font-size: 80%;
  padding: 0.5em;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

label {
  /* Other styling... */
  text-align: right;
  clear: both;
  float: left;
  margin-right: 15px;
}

.orthoplot-line {
  stroke-width: 2px;
  stroke: black;
  stroke-linecap: round;
}

.orthoplot-gene {
  stroke-width: 1px;
  stroke: #888;
}

.orthoplot-gene-RNA {
  stroke-dasharray: 1;
  stroke-linecap: round;
  fill: url(#circles-1) #fff;
}

.orthoplot-gene-repeat {
  stroke-dasharray: 4;
  stroke-linecap: round;
  fill: url(#circles-1) #fff;
}

.orthoplot-clusterlabel {
  fill: gray;
}

.orthoplot-type-tRNA {
  fill: teal;
}

.orthoplot-type-rRNA {
  fill: RosyBrown;
}

.orthoplot-type-tmRNA {
  fill: tomato;
}